:root {
    --mylightgray: hsl(212, 45%, 89%);
    --mygrayishblue: hsl(220, 15%, 55%);
    --mydarkblue: hsl(218, 44%, 22%);
}

body {
    background-color: var(--mylightgray);
    font-family: Outfit;
    font-size: 15px;
    text-align: center;
}

p {
    margin: 1em;
}

img {
    border-radius: 0.5em;
}

.bold {
    font-weight: 700;
}

.light {
    color: gray;
}

#qr-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0.75em;
    width: 230px;
    padding: 10px;
    margin: 100px auto;
}

#text-container {
    margin: 0.25em auto 0.5em;
}